body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#image-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#image {
    width: 95%;
    border-radius: 30px;
}

section h4 {
    padding: 40px;
    padding-left: 85px;
    color: black;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 0 5%;
}

button {
    flex: 1 1 200px;
    height: 10vw;
    max-height: 80px;
    min-height: 50px;
    background-color: transparent;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-weight: 400;
    line-height: 1.2;
    padding: 10px;
}

button:focus {
    color: red;
    border: 1px solid red;
}

#submit-button input {
    color: white;
    border: none;
    background-color: #ED2320;
    padding: 0.5% 1.7%;
    border-radius: 10px;
    margin-top: 5%;
    margin-left: 5%;
    font-size: 1.2vw;
    min-font-size: 14px;
    max-font-size: 20px;
    cursor: pointer;
}
